WorkstationClient/WorkstationBrowser/Connected Services/SessionReference/Session3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Workstation.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Workstation.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10856/Session.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WorkstationMessaging.Model" />
  <xs:complexType name="UsersModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/WorkstationMessaging.Model" base="q1:GenericModel">
        <xs:sequence>
          <xs:element name="email" nillable="true" type="xs:string" />
          <xs:element name="profilepic" nillable="true" type="xs:string" />
          <xs:element name="rank" nillable="true" type="xs:string" />
          <xs:element name="rights" nillable="true" type="xs:string" />
          <xs:element name="team_id" nillable="true" type="xs:int" />
          <xs:element name="username" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UsersModel" nillable="true" type="tns:UsersModel" />
  <xs:complexType name="ProjectModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/WorkstationMessaging.Model" base="q2:GenericModel">
        <xs:sequence>
          <xs:element name="admin_id" nillable="true" type="xs:int" />
          <xs:element name="name" nillable="true" type="xs:string" />
          <xs:element name="precedence" type="xs:short" />
          <xs:element name="projpic" nillable="true" type="xs:string" />
          <xs:element name="root" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProjectModel" nillable="true" type="tns:ProjectModel" />
  <xs:complexType name="ArrayOfProjectModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectModel" nillable="true" type="tns:ProjectModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectModel" nillable="true" type="tns:ArrayOfProjectModel" />
  <xs:complexType name="ArrayOfUsersModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsersModel" nillable="true" type="tns:UsersModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsersModel" nillable="true" type="tns:ArrayOfUsersModel" />
</xs:schema>