WorkstationClient/WorkstationBrowser/Connected Services/SessionReference/Session.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Session" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSDualHttpBinding_ISession_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:10856/Session.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:10856/Session.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WorkstationServices.Security" />
      <xsd:import schemaLocation="http://localhost:10856/Session.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:10856/Session.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Workstation.Model" />
      <xsd:import schemaLocation="http://localhost:10856/Session.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WorkstationMessaging.Model" />
      <xsd:import schemaLocation="http://localhost:10856/Session.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISession_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="ISession_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="ISession_LogIn_InputValidationFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WorkstationServices.Security" name="detail" element="q1:InputValidationFaultContract" />
  </wsdl:message>
  <wsdl:message name="ISession_LogOut_InputMessage">
    <wsdl:part name="parameters" element="tns:LogOut" />
  </wsdl:message>
  <wsdl:message name="ISession_GetAllProjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProjects" />
  </wsdl:message>
  <wsdl:message name="ISession_GetAllProjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="ISession_GetProject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProject" />
  </wsdl:message>
  <wsdl:message name="ISession_GetProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectResponse" />
  </wsdl:message>
  <wsdl:message name="ISession_EditProject_InputMessage">
    <wsdl:part name="parameters" element="tns:EditProject" />
  </wsdl:message>
  <wsdl:message name="ISession_EditProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditProjectResponse" />
  </wsdl:message>
  <wsdl:message name="ISession_DeleteProject_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProject" />
  </wsdl:message>
  <wsdl:message name="ISession_DeleteProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProjectResponse" />
  </wsdl:message>
  <wsdl:message name="ISession_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="ISession_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ISession_EditUser_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUser" />
  </wsdl:message>
  <wsdl:message name="ISession_EditUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISession_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="ISession_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISession_GetUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserId" />
  </wsdl:message>
  <wsdl:message name="ISession_GetUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISession_GetAllDepartments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDepartments" />
  </wsdl:message>
  <wsdl:message name="ISession_GetAllDepartments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDepartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="ISession_GetAllTeams_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTeams" />
  </wsdl:message>
  <wsdl:message name="ISession_GetAllTeams_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTeamsResponse" />
  </wsdl:message>
  <wsdl:message name="ISession_GetTeamPerUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamPerUser" />
  </wsdl:message>
  <wsdl:message name="ISession_GetTeamPerUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamPerUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISession_GetTeamPerId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamPerId" />
  </wsdl:message>
  <wsdl:message name="ISession_GetTeamPerId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamPerIdResponse" />
  </wsdl:message>
  <wsdl:message name="ISession_GetAllRanks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRanks" />
  </wsdl:message>
  <wsdl:message name="ISession_GetAllRanks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRanksResponse" />
  </wsdl:message>
  <wsdl:message name="ISession_GetRankByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRankByName" />
  </wsdl:message>
  <wsdl:message name="ISession_GetRankByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRankByNameResponse" />
  </wsdl:message>
  <wsdl:message name="ISession_AcknowledgeNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:AcknowledgeNotification" />
  </wsdl:message>
  <wsdl:message name="ISession_AcknowledgeNotification_OutputMessage">
    <wsdl:part name="parameters" element="tns:AcknowledgeNotificationResponse" />
  </wsdl:message>
  <wsdl:message name="ISession_GetAllNotifications_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNotifications" />
  </wsdl:message>
  <wsdl:message name="ISession_GetAllNotifications_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllNotificationsResponse" />
  </wsdl:message>
  <wsdl:message name="ISession_CreateNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNotification" />
  </wsdl:message>
  <wsdl:message name="ISession_UpdateNotifications_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateNotifications" />
  </wsdl:message>
  <wsdl:message name="ISession_DeleteNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteNotification" />
  </wsdl:message>
  <wsdl:message name="ISession_GetAllTasks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTasks" />
  </wsdl:message>
  <wsdl:message name="ISession_GetAllTasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTasksResponse" />
  </wsdl:message>
  <wsdl:message name="ISession_CreateTask_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTask" />
  </wsdl:message>
  <wsdl:message name="ISession_CreateTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTaskResponse" />
  </wsdl:message>
  <wsdl:message name="ISession_DeleteTask_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTask" />
  </wsdl:message>
  <wsdl:message name="ISession_DeleteTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTaskResponse" />
  </wsdl:message>
  <wsdl:message name="ISession_EditTask_InputMessage">
    <wsdl:part name="parameters" element="tns:EditTask" />
  </wsdl:message>
  <wsdl:message name="ISession_EditTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditTaskResponse" />
  </wsdl:message>
  <wsdl:message name="ISession_GetAllMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMessages" />
  </wsdl:message>
  <wsdl:message name="ISession_GetAllMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMessagesResponse" />
  </wsdl:message>
  <wsdl:message name="ISession_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="ISession_SendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ISession_DeleteMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMessage" />
  </wsdl:message>
  <wsdl:message name="ISession_DeleteMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ISession_EditTeam_InputMessage">
    <wsdl:part name="parameters" element="tns:EditTeam" />
  </wsdl:message>
  <wsdl:message name="ISession_EditTeam_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditTeamResponse" />
  </wsdl:message>
  <wsdl:message name="ISession_NotificationPull_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificationPull" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ISession">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/LogIn" message="tns:ISession_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/LogInResponse" message="tns:ISession_LogIn_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISession/LogInInputValidationFaultContractFault" name="InputValidationFaultContractFault" message="tns:ISession_LogIn_InputValidationFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="true" name="LogOut">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/LogOut" message="tns:ISession_LogOut_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetAllProjects">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/GetAllProjects" message="tns:ISession_GetAllProjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/GetAllProjectsResponse" message="tns:ISession_GetAllProjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetProject">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/GetProject" message="tns:ISession_GetProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/GetProjectResponse" message="tns:ISession_GetProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="EditProject">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/EditProject" message="tns:ISession_EditProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/EditProjectResponse" message="tns:ISession_EditProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DeleteProject">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/DeleteProject" message="tns:ISession_DeleteProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/DeleteProjectResponse" message="tns:ISession_DeleteProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/GetAllUsers" message="tns:ISession_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/GetAllUsersResponse" message="tns:ISession_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="EditUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/EditUser" message="tns:ISession_EditUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/EditUserResponse" message="tns:ISession_EditUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/DeleteUser" message="tns:ISession_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/DeleteUserResponse" message="tns:ISession_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/GetUserId" message="tns:ISession_GetUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/GetUserIdResponse" message="tns:ISession_GetUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetAllDepartments">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/GetAllDepartments" message="tns:ISession_GetAllDepartments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/GetAllDepartmentsResponse" message="tns:ISession_GetAllDepartments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetAllTeams">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/GetAllTeams" message="tns:ISession_GetAllTeams_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/GetAllTeamsResponse" message="tns:ISession_GetAllTeams_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetTeamPerUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/GetTeamPerUser" message="tns:ISession_GetTeamPerUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/GetTeamPerUserResponse" message="tns:ISession_GetTeamPerUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetTeamPerId">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/GetTeamPerId" message="tns:ISession_GetTeamPerId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/GetTeamPerIdResponse" message="tns:ISession_GetTeamPerId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetAllRanks">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/GetAllRanks" message="tns:ISession_GetAllRanks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/GetAllRanksResponse" message="tns:ISession_GetAllRanks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetRankByName">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/GetRankByName" message="tns:ISession_GetRankByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/GetRankByNameResponse" message="tns:ISession_GetRankByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AcknowledgeNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/AcknowledgeNotification" message="tns:ISession_AcknowledgeNotification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/AcknowledgeNotificationResponse" message="tns:ISession_AcknowledgeNotification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetAllNotifications">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/GetAllNotifications" message="tns:ISession_GetAllNotifications_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/GetAllNotificationsResponse" message="tns:ISession_GetAllNotifications_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CreateNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/CreateNotification" message="tns:ISession_CreateNotification_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateNotifications">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/UpdateNotifications" message="tns:ISession_UpdateNotifications_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DeleteNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/DeleteNotification" message="tns:ISession_DeleteNotification_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetAllTasks">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/GetAllTasks" message="tns:ISession_GetAllTasks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/GetAllTasksResponse" message="tns:ISession_GetAllTasks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CreateTask">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/CreateTask" message="tns:ISession_CreateTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/CreateTaskResponse" message="tns:ISession_CreateTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DeleteTask">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/DeleteTask" message="tns:ISession_DeleteTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/DeleteTaskResponse" message="tns:ISession_DeleteTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="EditTask">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/EditTask" message="tns:ISession_EditTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/EditTaskResponse" message="tns:ISession_EditTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetAllMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/GetAllMessages" message="tns:ISession_GetAllMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/GetAllMessagesResponse" message="tns:ISession_GetAllMessages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/SendMessage" message="tns:ISession_SendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/SendMessageResponse" message="tns:ISession_SendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DeleteMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/DeleteMessage" message="tns:ISession_DeleteMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/DeleteMessageResponse" message="tns:ISession_DeleteMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="EditTeam">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/EditTeam" message="tns:ISession_EditTeam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/EditTeamResponse" message="tns:ISession_EditTeam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="NotificationPull">
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/NotificationPull" message="tns:ISession_NotificationPull_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDualHttpBinding_ISession" type="tns:ISession">
    <wsp:PolicyReference URI="#WSDualHttpBinding_ISession_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogIn">
      <soap12:operation soapAction="http://tempuri.org/ISession/LogIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InputValidationFaultContractFault">
        <soap12:fault use="literal" name="InputValidationFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap12:operation soapAction="http://tempuri.org/ISession/LogOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetAllProjects">
      <soap12:operation soapAction="http://tempuri.org/ISession/GetAllProjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProject">
      <soap12:operation soapAction="http://tempuri.org/ISession/GetProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditProject">
      <soap12:operation soapAction="http://tempuri.org/ISession/EditProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProject">
      <soap12:operation soapAction="http://tempuri.org/ISession/DeleteProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap12:operation soapAction="http://tempuri.org/ISession/GetAllUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <soap12:operation soapAction="http://tempuri.org/ISession/EditUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap12:operation soapAction="http://tempuri.org/ISession/DeleteUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserId">
      <soap12:operation soapAction="http://tempuri.org/ISession/GetUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartments">
      <soap12:operation soapAction="http://tempuri.org/ISession/GetAllDepartments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTeams">
      <soap12:operation soapAction="http://tempuri.org/ISession/GetAllTeams" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeamPerUser">
      <soap12:operation soapAction="http://tempuri.org/ISession/GetTeamPerUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeamPerId">
      <soap12:operation soapAction="http://tempuri.org/ISession/GetTeamPerId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRanks">
      <soap12:operation soapAction="http://tempuri.org/ISession/GetAllRanks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRankByName">
      <soap12:operation soapAction="http://tempuri.org/ISession/GetRankByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcknowledgeNotification">
      <soap12:operation soapAction="http://tempuri.org/ISession/AcknowledgeNotification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllNotifications">
      <soap12:operation soapAction="http://tempuri.org/ISession/GetAllNotifications" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNotification">
      <soap12:operation soapAction="http://tempuri.org/ISession/CreateNotification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UpdateNotifications">
      <soap12:operation soapAction="http://tempuri.org/ISession/UpdateNotifications" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DeleteNotification">
      <soap12:operation soapAction="http://tempuri.org/ISession/DeleteNotification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetAllTasks">
      <soap12:operation soapAction="http://tempuri.org/ISession/GetAllTasks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTask">
      <soap12:operation soapAction="http://tempuri.org/ISession/CreateTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <soap12:operation soapAction="http://tempuri.org/ISession/DeleteTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditTask">
      <soap12:operation soapAction="http://tempuri.org/ISession/EditTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMessages">
      <soap12:operation soapAction="http://tempuri.org/ISession/GetAllMessages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/ISession/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMessage">
      <soap12:operation soapAction="http://tempuri.org/ISession/DeleteMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditTeam">
      <soap12:operation soapAction="http://tempuri.org/ISession/EditTeam" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificationPull">
      <soap12:operation soapAction="http://tempuri.org/ISession/NotificationPull" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Session">
    <wsdl:port name="WSDualHttpBinding_ISession" binding="tns:WSDualHttpBinding_ISession">
      <soap12:address location="http://localhost:10856/Session.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:10856/Session.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>