WorkstationServices/WorkstationServicesUnitTest/Connected Services/WorkstationSessionReference/Session.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WorkstationMessaging.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WorkstationMessaging.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDepartmentModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DepartmentModel" nillable="true" type="tns:DepartmentModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartmentModel" nillable="true" type="tns:ArrayOfDepartmentModel" />
  <xs:complexType name="DepartmentModel">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepartmentModel" nillable="true" type="tns:DepartmentModel" />
  <xs:complexType name="ArrayOfTeamModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TeamModel" nillable="true" type="tns:TeamModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeamModel" nillable="true" type="tns:ArrayOfTeamModel" />
  <xs:complexType name="TeamModel">
    <xs:sequence>
      <xs:element name="department_id" nillable="true" type="xs:int" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="name" nillable="true" type="xs:string" />
      <xs:element name="project_id" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TeamModel" nillable="true" type="tns:TeamModel" />
</xs:schema>