WorkstationServices/WorkstationServicesUnitTest/Connected Services/WorkstationSessionReference/Session.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Session" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSDualHttpBinding_ISession_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:10856/Session.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:10856/Session.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WorkstationServices.Security" />
      <xsd:import schemaLocation="http://localhost:10856/Session.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:10856/Session.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Workstation.Model" />
      <xsd:import schemaLocation="http://localhost:10856/Session.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WorkstationMessaging.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISession_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="ISession_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="ISession_LogIn_InputValidationFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WorkstationServices.Security" name="detail" element="q1:InputValidationFaultContract" />
  </wsdl:message>
  <wsdl:message name="ISession_LogOut_InputMessage">
    <wsdl:part name="parameters" element="tns:LogOut" />
  </wsdl:message>
  <wsdl:message name="ISession_GetAllProjects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProjects" />
  </wsdl:message>
  <wsdl:message name="ISession_GetAllProjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProjectsResponse" />
  </wsdl:message>
  <wsdl:message name="ISession_EditProject_InputMessage">
    <wsdl:part name="parameters" element="tns:EditProject" />
  </wsdl:message>
  <wsdl:message name="ISession_EditProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditProjectResponse" />
  </wsdl:message>
  <wsdl:message name="ISession_DeleteProject_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProject" />
  </wsdl:message>
  <wsdl:message name="ISession_DeleteProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProjectResponse" />
  </wsdl:message>
  <wsdl:message name="ISession_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="ISession_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ISession_EditUser_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUser" />
  </wsdl:message>
  <wsdl:message name="ISession_EditUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISession_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="ISession_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISession_GetAllDepartments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDepartments" />
  </wsdl:message>
  <wsdl:message name="ISession_GetAllDepartments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDepartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="ISession_GetAllTeams_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTeams" />
  </wsdl:message>
  <wsdl:message name="ISession_GetAllTeams_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTeamsResponse" />
  </wsdl:message>
  <wsdl:message name="ISession_GetTeamPerUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamPerUser" />
  </wsdl:message>
  <wsdl:message name="ISession_GetTeamPerUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamPerUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISession_GetTeamPerId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamPerId" />
  </wsdl:message>
  <wsdl:message name="ISession_GetTeamPerId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamPerIdResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ISession">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/LogIn" message="tns:ISession_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/LogInResponse" message="tns:ISession_LogIn_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISession/LogInInputValidationFaultContractFault" name="InputValidationFaultContractFault" message="tns:ISession_LogIn_InputValidationFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="false" msc:isTerminating="true" name="LogOut">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/LogOut" message="tns:ISession_LogOut_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetAllProjects">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/GetAllProjects" message="tns:ISession_GetAllProjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/GetAllProjectsResponse" message="tns:ISession_GetAllProjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="EditProject">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/EditProject" message="tns:ISession_EditProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/EditProjectResponse" message="tns:ISession_EditProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DeleteProject">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/DeleteProject" message="tns:ISession_DeleteProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/DeleteProjectResponse" message="tns:ISession_DeleteProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/GetAllUsers" message="tns:ISession_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/GetAllUsersResponse" message="tns:ISession_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="EditUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/EditUser" message="tns:ISession_EditUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/EditUserResponse" message="tns:ISession_EditUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/DeleteUser" message="tns:ISession_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/DeleteUserResponse" message="tns:ISession_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetAllDepartments">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/GetAllDepartments" message="tns:ISession_GetAllDepartments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/GetAllDepartmentsResponse" message="tns:ISession_GetAllDepartments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetAllTeams">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/GetAllTeams" message="tns:ISession_GetAllTeams_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/GetAllTeamsResponse" message="tns:ISession_GetAllTeams_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetTeamPerUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/GetTeamPerUser" message="tns:ISession_GetTeamPerUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/GetTeamPerUserResponse" message="tns:ISession_GetTeamPerUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetTeamPerId">
      <wsdl:input wsaw:Action="http://tempuri.org/ISession/GetTeamPerId" message="tns:ISession_GetTeamPerId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISession/GetTeamPerIdResponse" message="tns:ISession_GetTeamPerId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDualHttpBinding_ISession" type="tns:ISession">
    <wsp:PolicyReference URI="#WSDualHttpBinding_ISession_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogIn">
      <soap12:operation soapAction="http://tempuri.org/ISession/LogIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InputValidationFaultContractFault">
        <soap12:fault use="literal" name="InputValidationFaultContractFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap12:operation soapAction="http://tempuri.org/ISession/LogOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetAllProjects">
      <soap12:operation soapAction="http://tempuri.org/ISession/GetAllProjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditProject">
      <soap12:operation soapAction="http://tempuri.org/ISession/EditProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProject">
      <soap12:operation soapAction="http://tempuri.org/ISession/DeleteProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap12:operation soapAction="http://tempuri.org/ISession/GetAllUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <soap12:operation soapAction="http://tempuri.org/ISession/EditUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap12:operation soapAction="http://tempuri.org/ISession/DeleteUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDepartments">
      <soap12:operation soapAction="http://tempuri.org/ISession/GetAllDepartments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTeams">
      <soap12:operation soapAction="http://tempuri.org/ISession/GetAllTeams" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeamPerUser">
      <soap12:operation soapAction="http://tempuri.org/ISession/GetTeamPerUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeamPerId">
      <soap12:operation soapAction="http://tempuri.org/ISession/GetTeamPerId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Session">
    <wsdl:port name="WSDualHttpBinding_ISession" binding="tns:WSDualHttpBinding_ISession">
      <soap12:address location="http://localhost:10856/Session.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:10856/Session.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>