WorkstationServices/WorkstationServicesUnitTest/Connected Services/WorkstationSessionReference/Session3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Workstation.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Workstation.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UsersModel">
    <xs:sequence>
      <xs:element name="email" nillable="true" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="rank" nillable="true" type="xs:string" />
      <xs:element name="rights" nillable="true" type="xs:string" />
      <xs:element name="team_id" nillable="true" type="xs:int" />
      <xs:element name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsersModel" nillable="true" type="tns:UsersModel" />
  <xs:complexType name="ArrayOfProjectModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectModel" nillable="true" type="tns:ProjectModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectModel" nillable="true" type="tns:ArrayOfProjectModel" />
  <xs:complexType name="ProjectModel">
    <xs:sequence>
      <xs:element name="id" type="xs:long" />
      <xs:element name="name" nillable="true" type="xs:string" />
      <xs:element name="root" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectModel" nillable="true" type="tns:ProjectModel" />
  <xs:complexType name="ArrayOfUsersModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsersModel" nillable="true" type="tns:UsersModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsersModel" nillable="true" type="tns:ArrayOfUsersModel" />
</xs:schema>